* {
    color: #a1a1a1;
}

body {
    max-width: 1020px;
    margin: auto;
    background-color: rgb(0, 28, 73);
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 5mm;
}

ul > li {
    font-size: 1.1rem;
    color: black;
}

.agenda {
    background: rgb(0, 39, 100);
    -webkit-box-shadow: 0px 0px 7px 1px rgb(0 0 0);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 7px 1px rgb(0 0 0);
    border-radius: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #ffc107;
    border-width: 2px;
    padding: 10px 0px 10px 25px;
}

#p-side {
    position: relative;
    left: 10px;
    display: inline-block;
    max-width: 600px;
    min-width: 300px;
}

#speakers {
    display: inline;
    max-width: 300px;
    height: auto;
    position: relative;
    left: 20px;
}

section > h3 {
    color: #c5c6c7;;
}

section h1 {
    color: hsl(50, 100%, 50%);
    text-decoration: underline;
}

.video-container {
    width: 450px;
    margin: 0 auto 0 auto;
}

video {
    width: 450px;
}

figure {
    text-align: center;
}

figcaption {
    padding-bottom: 10px;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

fieldset {
    margin-top: 0.3cm;
    margin-bottom: 0.7cm;
}

fieldset label {
    margin-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: auto;
    column-gap: 10px;
    padding-left: 10px;
}

nav a {
    margin-right: 10px;
}

[for=entry-date] {
    margin-top: 10px;
    display: block;
}

[for=entry-date] ~ [type=date] {
    display: block;
}

a.entry-link:hover {
    color:hsl(50, 100%, 50%);
}

[name=format]:active {
    color: hsl(50, 100%, 50%);
}

button:active {
    background-color: hsl(50, 100%, 50%);
}

@media (max-width: 960px) {
    #speakers {
        display: block;
        margin: auto;
    }

    #p-side {
        display: block;
        max-width: 100%;
    }
}

details li, details summary {
    color: #a1a1a1;
    font-size: 1.3vmax;
}

